@charset "UTF-8";

/* .container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.container img{
  width: 10%;
  height: 10%;
  display: block;
}
 */
/* div.dining_info_img {
	width: 50%;
	height: auto;
	position: relative;
	margin: auto;
	margin-bottom: 50px
}

div.dining_info_img img {
	width: 50%;
	height: auto;
	margin: auto;
} */
a {
	text-decoration-line: none;
}

.dining_title {
	font-size: 30px;
}

h3.dining_title {
	margin-left: 300px
}

#dining_select {
	margin: auto;
	float: center;
}

#dining_select div {
	margin-bottom: 10px;
}

#dining_select button {
	float: right;
}
#dining_info {
	width: 70%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
}

#dining_info img {
	width: 70%;
	height: auto;
	margin: 0 auto;
}

#row_dining_info {
	overflow : hidden;
	width: 50%;
	margin: auto;
}

#col_dining_info1 {
	float: left;
	width: calc(100% - 70px);
	
}

#col_dining_info2 {
	float: right;
	width: 70px;
	text-align: left;
	margin: auto;
}

#j_button {
    margin: 10px;
}
.j-dining-img {
	width: 640px;
	height: 480px;
	object-fit: cover;
}

.slider {
	width: 640px;
	height: 480px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
}

ul.imgs li {
	position: absolute;
	left: 640px;
	transition-delay: 1s;
	list-style: none;
	padding: 0;
	margin: 0;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: rgb(255, 255, 255);
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}