@charset "UTF-8"; /* 64ac15 */
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding: 1em;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #b9b9b9;
	background-color: #e3e3e3;
}

h4 {
	color: #f0a500;
}

input, input[type="radio"]+label, input[type="checkbox"]+label:before,
	select option, select {
	width: 100%;
	padding: 1em;
	line-height: 1.4;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

input:focus {
	outline: 0;
	border-color: #bd8200;
}

input:focus+.input-icon i {
	color: #f0a500;
}

input:focus+.input-icon:after {
	border-right-color: #f0a500;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label, select {
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
	border-radius: 0;
}

input[type="radio"]+label:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
	padding-right: 0.4em;
}

input[type="radio"]:checked+label, input:checked+label:before, select:focus,
	select:active {
	background-color: #f0a500;
	color: #fff;
	border-color: #bd8200;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	position: relative;
	display: block;
	padding-left: 1.6em;
}

input[type="checkbox"]+label:before {
	position: absolute;
	top: 0.2em;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
	padding: 0;
	content: "";
}

input[type="checkbox"]+label:after {
	position: absolute;
	top: 0.45em;
	left: 0.2em;
	font-size: 0.8em;
	color: #fff;
	opacity: 0;
	font-family: FontAwesome;
	content: "\f00c";
}

input:checked+label:after {
	opacity: 1;
}

select {
	height: 3.4em;
	line-height: 2;
}

select:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

select:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

select:focus, select:active {
	outline: 0;
}

select option {
	background-color: #f0a500;
	color: #fff;
}

.input-group {
	margin-bottom: 1em;
	zoom: 1;
}

.input-group:before, .input-group:after {
	content: "";
	display: table;
}

.input-group:after {
	clear: both;
}

.input-group-icon {
	position: relative;
}

.input-group-icon input {
	padding-left: 4.4em;
}

.input-group-icon .input-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.4em;
	height: 3.4em;
	line-height: 3.4em;
	text-align: center;
	pointer-events: none;
}

.input-group-icon .input-icon:after {
	position: absolute;
	top: 0.6em;
	bottom: 0.6em;
	left: 3.4em;
	display: block;
	border-right: 1px solid #e5e5e5;
	content: "";
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.container {

	max-width : 38em;
	padding: 1em 3em 2em 3em;
	margin: 0em auto;
	background-color: #fff;
	border-radius: 4.2px;
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
	max-width: 38em;
}

.row {
	zoom: 1;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.col-half {
	padding-right: 10px;
	float: left;
	width: 50%;
}

.col-half:last-of-type {
	padding-right: 0;
}

.col-third {
	padding-right: 10px;
	float: left;
	width: 33.33333333%;
}

.col-third:last-of-type {
	padding-right: 0;
}

@media only screen and (max-width: 540px) {
	.col-half {
		width: 100%;
		padding-right: 0;
	}
}

.untree_co--site-main{
	margin-top:100px;
   
}
.w_total{
    display: flex;
    justify-content: center;
}
.w_container{
   
    display: flex;
    width: 1000px;
}
.w_left_list_main_item{
   
    flex: 1;
    width: 400px;
}
.w_right_list_main_item{
    
    flex: 1;
    width: 400px;
}
.w_left_list_rooms_item{
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 20px;
    padding-top: 20px;
}
.w_left_list_rooms_media{
}
h3{
    font-size: 20px;
    font-family: sans-serif;
}
.w_left_list_main_item_title > h3{
    border-bottom: #BDBDBD 1px solid;
}
.w_right_list_item_header{
    border-bottom: #BDBDBD 1px solid;
}
.w_right_list_item_header > h3{
	color: #183C7D;
}
.w_left_list_rooms_media{
}
.w_left_list_rooms_details{
    margin-left: 20px;
}
.w_button{
    width: 140px;
    height: 44px;
    border: 1px solid #F9B90F;
    background-color: #F9B90F;
    border-radius: 5px;
}
.w_h5{
    margin-bottom: 10px;
}
.w_left_list_rooms_details_price{
    padding-bottom: 10px;
}
.w_right_list_check_detail{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    list-style:none;
    margin-top:10px;
}
.w_right_list_check_detail > li{
    padding:13px 20px 13px 20px;
}
.w_right_list_check_detail_toggle{
	border-bottom:1px solid  #BDBDBD;
}
.w_right_list_toggel{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #F2F5F8;
    list-style:none;
    padding:15px 20px 15px 20px;
    margin-top:10px;
}
.w_right_list_cart_total{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #F2F5F8;
    margin-top:10px;
    padding:13px 20px 13px 20px;
}
.w_right_list_cart_total_won{
	padding-left:300px;
}
.w_right_list_next{
    border: 1px solid #F9B90F;
    border-radius: 5px;
    background-color: #F9B90F;
    margin-top:10px;
    padding:13px 20px 13px 20px;
    text-align: center;
}
.w_right_list_next > a{
    color: white;
    text-decoration: none;
}
.w_cart_button{
	margin-top:10px;
	display:flex;
	justify-content:space-between;
	
}
.w_cart_button_left{
    color: #666B7B;
    border: 1px solid #BDBDBD;
    text-decoration: none;
    border-radius: 5px;
    width:178px;
    padding:12px 12px;
    text-align: center;
}
.w_cart_button_right{
    color: #666B7B;
    border: 1px solid #BDBDBD;
    background-color: #ECECEC;
    text-decoration: none;
    border-radius: 5px;
    width:250px;
    padding:12px 12px;
    text-align: center;
}

.mix {
	margin-top :100px;
	display: flex;
	flex-direction:row;
	
}

